.nav {
  text-align: center;
  background-color: salmon;
  padding: 20px;
}

.nav-item {
  margin: 20px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: larger;
  color:bisque;
  text-decoration: none;
}


.homepage {
  margin: 20px;
}


.item {
  display: grid;
  grid-template-columns:max-content;
  padding: 10px;
  margin: 20px;
}

.group {
  margin: 20px;
}

.reservationGroup {
  margin: 20px;
}

.res-item {
  margin: 10px; /* Adjust margin between each res-item */
  border: 1px solid black; /* Add border to create the smaller box */
  padding: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}
.date {
  margin: 20px;
}

.reservationFilter {
  margin: 20px;
}

.name {
  margin: 20px;
}

.key {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
}